<div id="wrapper">  
  <shared-sidebar *ngIf="lang" [lang]='lang'></shared-sidebar>
  <div id="page-content-wrapper" class="header">
    <div class="container-fluid" id="v-scrollable">
      <home-header *ngIf="lang" [lang]='lang'></home-header>
      <home-about *ngIf="lang" [lang]='lang'></home-about>
      <home-education *ngIf="lang" [lang]='lang'></home-education>
      <home-experience *ngIf="lang" [lang]='lang'></home-experience>
      <home-portfolio *ngIf="lang" [lang]='lang'></home-portfolio>
      <home-journal *ngIf="lang" [lang]='lang'></home-journal>
      <home-contact *ngIf="lang" [lang]='lang'></home-contact>
    </div>
  </div>
</div>
