<!-- side navigation -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav" *ngIf="sidebarMenu">
        <li class="sidebar-brand">
            <a href="#"><img src="/images/my-img.png" alt=""></a>
        </li>
        <li *ngIf="sidebarMenu.home">
            <a class="menu-item page-scroll" href="home/{{lang}}#home">{{sidebarMenu.home}}</a>
        </li>
        <li *ngIf="sidebarMenu.about">
            <a class="menu-item page-scroll" href="home/{{lang}}#about">{{sidebarMenu.about}}</a>
        </li>
        <li *ngIf="sidebarMenu.education">
            <a class="menu-item page-scroll" href="#education">{{sidebarMenu.education}}</a>
        </li>
        <li *ngIf="sidebarMenu.experience">
            <a class="menu-item page-scroll" href="#experience">{{sidebarMenu.experience}}</a>
        </li>
        <li *ngIf="sidebarMenu.portfolio">
            <a class="menu-item page-scroll" href="#portfolio">{{sidebarMenu.portfolio}}</a>
        </li>
        <li *ngIf="sidebarMenu.journal">
            <a class="menu-item page-scroll" href="#journal">{{sidebarMenu.journal}}</a>
        </li>
        <li *ngIf="sidebarMenu.contact">
            <a class="menu-item page-scroll" href="#contact">{{sidebarMenu.contact}}</a>
        </li>
        <li class="menu-footer">
            <h6><i class="lnr lnr-download"></i>{{sidebarMenu.download}}</h6>
            <span>
                <a href="home/en">ENGLISH</a>
                <a href="home/es">ESPAÑOL</a>
            </span>
        </li>
    </ul>
</div>
<!-- / side navigation -->