<!-- side navigation -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav" *ngIf="sidebarMenu">
        <li class="sidebar-brand">
            <a href="#"><img src="/images/my-img.png" alt=""></a>
        </li>
        <li>
            <div [class.current]="id=='home'" (click)="scrollTo('#home','#v-scrollable')" class="menu-item">
                {{sidebarMenu.home}}
            </div>
        </li>
        <li>
            <div [class.current]="id=='about'" (click)="scrollTo('#about','#v-scrollable')" class="menu-item">
                {{sidebarMenu.about}}
            </div>
        </li>
        <li>
            <div [class.current]="id=='education'" (click)="scrollTo('#education','#v-scrollable')" class="menu-item">
                {{sidebarMenu.education}}
            </div>
        </li>
        <li>
            <div [class.current]="id=='experience'" (click)="scrollTo('#experience','#v-scrollable')" class="menu-item">
                {{sidebarMenu.experience}}
            </div>
        </li>
        <li>
            <a class="menu-item page-scroll" href="#portfolio">{{sidebarMenu.portfolio}}</a>
        </li>
        <li>
            <a class="menu-item page-scroll" href="#journal">{{sidebarMenu.journal}}</a>
        </li>
        <li>
            <a class="menu-item page-scroll" href="#contact">{{sidebarMenu.contact}}</a>
        </li>
        <li class="menu-footer">
            <h6><i class="lnr lnr-download"></i>{{sidebarMenu.download}}</h6>
            <span>
                <a href="home/en">ENGLISH</a>
                <a href="home/es">ESPAÑOL</a>
            </span>
        </li>
    </ul>
</div>
