<!-- experience -->
<section id="experience" *ngIf="experience">
    <div class="container">
        <div class="page-header">
            <h3>{{experience.experienceTit}}<span class="text-primary">.</span></h3>
        </div>
        <div class="timeline  border-color">
            <div class="timeline-item" *ngFor="let ex of experience.experiences">
                <div class="timeline-point  off-timeline-point  point-color"></div>
                <div class="row">
                    <div class="col-md-3 timeline-info">
                        <p class="timeline-date">{{ex.exYears}}</p>
                        <h4 class="timeline-com">{{ex.exCompany}}</h4>
                        <h6 class="timeline-role">{{ex.exTit}}</h6>
                        <p class="timeline-location">{{ex.exPlace}}</p>
                    </div><!-- / timeline-info -->
                    <div class="col-md-9 timeline-details">
                        <p>{{ex.exDescription}}</p>
                    </div><!-- / timeline-details -->
                </div><!-- / row -->
            </div><!-- / timeline-item -->
        </div><!-- / timeline -->        
    </div><!-- / container -->
</section>
<!-- / experience -->