@{
    ViewData["Title"] = "Dovannys Hernandez";
}
<link rel="stylesheet" href="http://tawian.io/text-spinners/spinners.css">
<app asp-ng2-prerender-module="ClientApp/dist/main-server"><h1>Loading<span class="loading dots3"></span></h1></app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
