<!-- about -->
<section id="about" *ngIf="about">
    <div class="container">
        <div class="page-header space-left">
            <h3>{{about.aboutTit}}<span class="text-primary">.</span></h3>
        </div>
        <div class="row">
            <div class="col-md-4 feature-left space-bottom">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-user"></i>
                    </div>
                    <h5>{{about.fullNameTit}}</h5>
                </div>
                <p>Dovannys Hern&aacute;ndez Morales</p>
            </div><!-- / feature -->
            <div class="col-md-4 feature-left space-bottom">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-calendar-full"></i>
                    </div>
                    <h5>{{about.birthdateTit}}</h5>
                </div>
                <p>{{about.birthdate}}</p>
            </div><!-- / feature -->
            <div class="col-md-4 feature-left space-bottom">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-map-marker"></i>
                    </div>
                    <h5>{{about.addressTit}}</h5>
                </div>
                <p>{{about.address}}</p>
            </div><!-- / feature -->
        </div><!-- / row -->
        <!-- / features -->
        <!-- awards -->
        <div class="page-header space-left" *ngIf="about.cert">
            <h3>{{about.cert.certificTit}}<span class="text-primary">.</span></h3>
        </div>
        <div class="row" *ngIf="about.cert">
            <div class="col-md-4" *ngFor="let cert of about.cert.certific">
                <div class="award">
                    <a href="{{cert.certLink}}" target="_blank"><h5 class="text-primary">{{cert.certTit}}</h5></a>                    
                    <p>{{cert.certDesc}}</p>
                </div>
            </div><!-- / award -->
        </div><!-- / row -->
        <!-- / awards -->
        <!-- skills -->
        <div id="skills" *ngIf="about.skills">
            <div class="page-header space-left">
                <h3>{{about.skills.skillsTit}}<span class="text-primary">.</span></h3>
            </div>
            <div class="row">
                <!-- progress-bars left -->
                <div class="col-sm-6">
                    <div  *ngFor="let skill of about.skills.skillsLeft">
                        <h6 class="progress-title">{{skill.skillTit}}</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" 
                                 attr.aria-valuenow="{{skill.skillVal}}" aria-valuemin="0" aria-valuemax="100" 
                                 [style.width]="skill.skillVal + '%'">
                            </div>
                        </div>
                    </div>
                    <!-- / progress -->                    
                </div>
                <!-- / progress-bars left -->
                <!-- progress-bars right -->
                <div class="col-sm-6" >
                    <div *ngFor="let skillR of about.skills.skillsRight">
                        <h6 class="progress-title">{{skillR.skillTit}}</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar"
                                 attr.aria-valuenow="{{skillR.skillTit}}" aria-valuemin="0" aria-valuemax="100" 
                                 [style.width]="skillR.skillVal + '%'">
                            </div>
                        </div>
                    </div>
                    <!-- / progress -->                    
                </div>
                <!-- / progress-bars right -->
            </div><!-- / row -->
        </div>
        <!-- / skills -->
    </div><!-- / container -->
</section>
<!-- / about -->