<!-- contact -->
<section id="contact">
    <div class="container" *ngIf="contact">
        <div class="page-header space-left">
            <h3>{{contact.contactTit}}<span class="text-primary">.</span></h3>
        </div>
        <div class="row">
            <div class="col-md-6 space-bottom">
                <div class="contact-description">
                    <h5>{{contact.descTit}}</h5>
                    <p>{{contact.description}}</p>
                </div><!-- / feature-description -->
                <div class="space-25">&nbsp;</div>
                <div class="row">
                    <div class="col-sm-6 feature-left space-top">
                        <div class="feature block">
                            <div class="feature-icon">
                                <i class="lnr lnr-phone"></i>
                            </div>
                            <h5>{{contact.teleTit}}</h5>
                            <a href="tel:{{contact.teleDesc}}">{{contact.teleDesc}}</a>
                        </div><!-- / feature-block -->
                    </div><!-- / col-md-6 feature-left -->
                    <div class="col-sm-6 feature-left space-top">
                        <div class="feature block">
                            <div class="feature-icon">
                                <i class="lnr lnr-envelope"></i>
                            </div>
                            <h5>{{contact.emailTit}}</h5>
                            <a href="mailto:{{contact.emailDesc}}" class="contact-info-text">{{contact.emailDesc}}</a>
                        </div><!-- / feature-block -->
                    </div><!-- / col-md-6 feature-left -->
                </div><!-- / row -->
                <div class="row">
                    <div class="col-sm-6 feature-left space-top">
                        <div class="feature block">
                            <div class="feature-icon">
                                <i class="lnr lnr-home"></i>
                            </div>
                            <h5>{{contact.hAddressTit}}</h5>
                            <p>{{contact.hAddressDesc}}</p>
                        </div><!-- / feature-block -->
                    </div><!-- / col-md-6 feature-left -->
                    <div class="col-sm-6 feature-left space-top">
                        <div class="feature block">
                            <div class="feature-icon">
                                <i class="lnr lnr-map-marker"></i>
                            </div>
                            <h5>{{contact.oAddressTit}}</h5>
                            <p>{{contact.oAddressDesc}}</p>
                        </div><!-- / feature-block -->
                    </div><!-- / col-sm-6 feature-left -->
                </div><!-- / row -->

            </div><!-- / col-md-6 -->
            <div class="col-md-6">
                <!-- contact form-->
                <div id="contact-form-1">
                    <form id="contactForm" data-toggle="validator" [formGroup]="contactForm" (ngSubmit)="doMessage($event)">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="{{contact.nameHolder}}" required formControlName="name">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="{{contact.emailHolder}}" required formControlName="email">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea id="message" class="form-control" rows="5" placeholder="{{contact.messageHolder}}" required formControlName="message"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                        <button type="submit" id="form-submit" class="btn btn-md btn-primary-filled btn-form-submit">{{contact.sendButton}}</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </form>
                </div><!-- / contact form -->
            </div><!-- / col-md-6 -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / contact -->


<footer>
    <div class="container">
        <p class="footer-info">
            © {{year}} - <strong>MyResume</strong>
            <span class="social pull-right">
                <a href="https://www.facebook.com/dovannys" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/DovannysM" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://plus.google.com/+DovannysHern%C3%A1ndez" target="_blank"><i class="fa fa-google-plus"></i></a>
                <a href="https://www.linkedin.com/in/dovannys-hern%C3%A1ndez-morales-2691172b/en" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Dovannys" target="_blank"><i class="fa fa-github"></i></a>
                <!--<a href="#"><i class="fa fa-dribbble"></i></a>-->
            </span>
        </p>
    </div><!-- / container -->
</footer><!-- / light-footer -->