<!-- portfolio section 3col -->
<section id="portfolio">
    <div class="container" *ngIf="portfolio">
        <div class="page-header space-left">
            <h3>{{portfolio.portfolioTit}}<span class="text-primary">.</span></h3>
        </div>
        <ul class="row portfolio list-unstyled" id="grid" *ngFor="let port of portfolio.projects">
            <li class="col-xs-6 col-md-4 project" data-groups='["design", "creative"]'>
                <figure>
                    <div class="hovereffect">
                        <img class="img-responsive" attr.src="{{portfolio.pathImages+port.projectImage}}">
                        <!--<a href="single-project.html">-->
                            <div class="overlay">
                                <div class="hovereffect-title">
                                    <h6>{{port.projectTit}}</h6>
                                </div>
                            </div>
                        <!--</a>-->
                    </div>
                </figure>
            </li><!-- project -->
            <!-- sizer -->
            <li class="col-xs-6 col-md-4 shuffle_sizer"></li>
        </ul><!-- / row portfolio-items -->
    </div><!-- / container -->
</section>
<!-- / portfolio section 3col -->